<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scau.edu.ssm.movietalk.mapper.MFriendlinkMapper" >
  <resultMap id="BaseResultMap" type="cn.scau.edu.ssm.movietalk.po.MFriendlink" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="linkname" property="linkname" jdbcType="VARCHAR" />
    <result column="linkurl" property="linkurl" jdbcType="VARCHAR" />
    <result column="picname" property="picname" jdbcType="VARCHAR" />
    <result column="dtime" property="dtime" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="listway" property="listway" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, linkname, linkurl, picname, dtime, msg, listway
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.scau.edu.ssm.movietalk.po.MFriendlinkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from m_friendlink
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from m_friendlink
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from m_friendlink
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.scau.edu.ssm.movietalk.po.MFriendlinkExample" >
    delete from m_friendlink
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.scau.edu.ssm.movietalk.po.MFriendlink" >
    insert into m_friendlink (id, linkname, linkurl, 
      picname, dtime, msg, 
      listway)
    values (#{id,jdbcType=INTEGER}, #{linkname,jdbcType=VARCHAR}, #{linkurl,jdbcType=VARCHAR}, 
      #{picname,jdbcType=VARCHAR}, #{dtime,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, 
      #{listway,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.scau.edu.ssm.movietalk.po.MFriendlink" >
    insert into m_friendlink
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="linkname != null" >
        linkname,
      </if>
      <if test="linkurl != null" >
        linkurl,
      </if>
      <if test="picname != null" >
        picname,
      </if>
      <if test="dtime != null" >
        dtime,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="listway != null" >
        listway,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linkname != null" >
        #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null" >
        #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="picname != null" >
        #{picname,jdbcType=VARCHAR},
      </if>
      <if test="dtime != null" >
        #{dtime,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="listway != null" >
        #{listway,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.scau.edu.ssm.movietalk.po.MFriendlinkExample" resultType="java.lang.Integer" >
    select count(*) from m_friendlink
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update m_friendlink
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.linkname != null" >
        linkname = #{record.linkname,jdbcType=VARCHAR},
      </if>
      <if test="record.linkurl != null" >
        linkurl = #{record.linkurl,jdbcType=VARCHAR},
      </if>
      <if test="record.picname != null" >
        picname = #{record.picname,jdbcType=VARCHAR},
      </if>
      <if test="record.dtime != null" >
        dtime = #{record.dtime,jdbcType=VARCHAR},
      </if>
      <if test="record.msg != null" >
        msg = #{record.msg,jdbcType=VARCHAR},
      </if>
      <if test="record.listway != null" >
        listway = #{record.listway,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update m_friendlink
    set id = #{record.id,jdbcType=INTEGER},
      linkname = #{record.linkname,jdbcType=VARCHAR},
      linkurl = #{record.linkurl,jdbcType=VARCHAR},
      picname = #{record.picname,jdbcType=VARCHAR},
      dtime = #{record.dtime,jdbcType=VARCHAR},
      msg = #{record.msg,jdbcType=VARCHAR},
      listway = #{record.listway,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scau.edu.ssm.movietalk.po.MFriendlink" >
    update m_friendlink
    <set >
      <if test="linkname != null" >
        linkname = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null" >
        linkurl = #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="picname != null" >
        picname = #{picname,jdbcType=VARCHAR},
      </if>
      <if test="dtime != null" >
        dtime = #{dtime,jdbcType=VARCHAR},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="listway != null" >
        listway = #{listway,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scau.edu.ssm.movietalk.po.MFriendlink" >
    update m_friendlink
    set linkname = #{linkname,jdbcType=VARCHAR},
      linkurl = #{linkurl,jdbcType=VARCHAR},
      picname = #{picname,jdbcType=VARCHAR},
      dtime = #{dtime,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      listway = #{listway,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>