<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scau.edu.ssm.movietalk.mapper.MListExtMapper" >
  
  <select id="selectByListName" parameterType="string"  resultType="cn.scau.edu.ssm.movietalk.po.MListExt" >
    	select m_list.*, m_filmpic.picname from m_list,m_filmpic where m_list.id = m_filmpic.mid and status = 0 and (filname like '%${value}%' or petname like '%${value}%') 
  </select>
  <select id="selectAll" resultType="cn.scau.edu.ssm.movietalk.po.MListExt" >
    	select m_list.*, m_filmpic.picname from m_list,m_filmpic where m_list.id = m_filmpic.mid and status = 0
  </select>
   <insert id="insertSelectiveExt" parameterType="cn.scau.edu.ssm.movietalk.po.MListExt" >
   <selectKey keyProperty="id" order="AFTER" resultType="int">
  		SELECT LAST_INSERT_ID()
  	</selectKey>
    insert into m_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="filname != null" >
        filname,
      </if>
      <if test="petname != null" >
        petname,
      </if>
      <if test="director != null" >
        director,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="voice != null" >
        voice,
      </if>
      <if test="showtime != null" >
        showtime,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="mtype != null" >
        mtype,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="filname != null" >
        #{filname,jdbcType=VARCHAR},
      </if>
      <if test="petname != null" >
        #{petname,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="voice != null" >
        #{voice,jdbcType=VARCHAR},
      </if>
      <if test="showtime != null" >
        #{showtime,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=TINYINT},
      </if>
      <if test="mtype != null" >
        #{mtype,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByListId" parameterType="int"  resultType="cn.scau.edu.ssm.movietalk.po.MListExt" >
    	select m_list.*, m_filmpic.picname from m_list,m_filmpic where m_list.id = #{id} and m_list.id = m_filmpic.mid and status = 0 
  </select>
  <select id="selectAllByTag" parameterType="int" resultType="cn.scau.edu.ssm.movietalk.po.MListExt">
  		select m_list.*, m_filmpic.picname from m_list,m_filmpic where m_list.id in (select distinct mid from m_mtag where tagid = #{id}) and m_list.id = m_filmpic.mid and status = 0
  </select>
  <select id="selectAllByType" parameterType="int" resultType="cn.scau.edu.ssm.movietalk.po.MListExt">
  		select m_list.*, m_filmpic.picname from m_list,m_filmpic where m_list.id in (select distinct mid from m_mtype where tid = #{id}) and m_list.id = m_filmpic.mid and status = 0
  </select>
</mapper>