<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scau.edu.ssm.movietalk.mapper.MMactorExtMapper" >
  	<insert id="insertBatch" parameterType="list">
  		insert into m_mactor(mid,aid) values
  			<foreach collection="list" item="mactor" separator="," index="index">
  				(#{mactor.mid}, #{mactor.aid})
  			</foreach>
  	</insert>
</mapper>