<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scau.edu.ssm.movietalk.mapper.MMtypeExtMapper" >
  	<insert id="insertBatch" parameterType="list">
  		insert into m_mtype(mid, tid) values
  			<foreach collection="list" item="mtype" separator="," index="index">
  				(#{mtype.mid}, #{mtype.tid})
  			</foreach>
  	</insert>
</mapper>