<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scau.edu.ssm.movietalk.mapper.MTagExtMapper" >
  
  <select id="selectByTagName" parameterType="string"  resultType="cn.scau.edu.ssm.movietalk.po.MTag" >
    	select * from m_tag where tagname like '%${value}%' 
  </select>
  <select id="selectAll" resultType="cn.scau.edu.ssm.movietalk.po.MTag" >
    	select * from m_tag
  </select>
  <select id="selectAllTag" resultType="cn.scau.edu.ssm.movietalk.po.MTagExt">
  		select m_tag.*,(select count(distinct mid) from m_mtag where m_mtag.tagid = m_tag.id) as total from m_tag
  </select>
</mapper>