.select2-container {
	width: 511px;
}
.select2-container--focus {
	width: 511px;
}
.select2-selection--single {
	width: 511px;
}
.select2-container--default {
	width: 511px;
}
.select2-container--below {
	width: 511px;
}
.select2-container--open{
	width: 511px;
}